.Scrollable {
	overflow-x: hidden;
	overflow-y: auto;
	background-image: url('../../pages/img/smallHill.png');
	background-position: center bottom;
	background-size: 2400px;
	background-repeat: no-repeat;

	scroll-behavior: smooth;
	@apply w-full h-full;
}
